# Binaries and emulated builds
*.gba
*.o
*.out
*.elf
*.pdf
*.jar

# Emulator / runtime files
mGBA.app/
mGBA/
pokemon.lua
socketserver.lua
sockettest.lua
*.shader
*.icns
*.dat
manifest.ini
CodeResources
Info.plist

# OS/editor junk
examples/
.vscode/
